<!DOCTYPE html>
<html lang="en" dir="ltr">

    <body> 
        <form action='/routeembedding' method=get> 
            <input type="submit" value= "Create Embeddings"> 
        </form> 

        <form action='/routetrain' method=get> 
            <input type="submit" value= "Train Model"> 
        </form> 

        <form action='/routerecognize' method=get> 
            <input type="submit" value= "Recognize From Image"> 
        </form> 

        <form action='/routerecognizevideo' method=get> 
            <input type="submit" value= "Recognize From Video"> 
        </form> 

        
    </body> 

    
</html>